/* Melody Lew (BUZZ: Katherine Zhao and Vivian Graeber)
IntroCS pd5 sec08
;HW05 -- Stuylin' (Website about Personal and Group Passions with CSS)
;2021-02-22 */

/* this is a css comment */

/* When you delete the stylesheet link line, I predict that the browser will reload the index.html (the page without the css). And this is what actually happens!
Each time you modify the CSS file, its changes are shown in the HTML file once you save your changes and reload the HTML file */

body {
  background-color: #f2f2f2;
} /* this makes the background of the website this gray-white color */

p  {
  font-family: 'verdana';
  font-size: 15px;
} /* the text (not the headings) is in the font verdana and will be in 18px */

h1 {
  color: #ff9999;
  font-family: 'Oswald', sans-serif;
  font-size: 50px;
  text-align:  center;
} /* the heading "Painting Galore: A Guide to Painting for Beginners" will be in this color, have a font size of 25px and oswald font, and be centered */

h2 {
  color: #ffcccc;
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
} /* all the subheadings will be in this color and have a font size of 20px and font of oswald */
